@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 10vw;
    font-size: 16px;
    display: grid;
    height: 100vh;
    align-items: center;
    grid-template-rows: auto 1fr;
    --text: 0,0,0;
    --primary-color: #FF4B4B;
}
header{
    padding: 2rem 0;
}
.hide{
    display: none !important;
}
.btn{
    padding: 0.6rem 1.6rem;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    display: inline-flex;
    outline: none;
}

.input{
    display: grid;
    grid-template-columns: 1fr auto;
    border: solid 1px;
    input{
        outline: none;
        padding: 0.6rem;
        border: none;
        width: 100%;
    }
}

.select-file{
    input[type="file"]{
        display: none;
    }
}
#main_page{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h1{
        font-size: 3rem;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 3rem;
    }
    .left,.right{
        padding: 4vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left{
        p{
            margin-bottom: 2rem;
            max-width: 80%;
            line-height: 1.6em;
            color: rgba(var(--text), 0.8);
        }
    }
    #drop_zone{
        align-items: center;
    }
    #get_censor_word_container{
        width: 60%;
        justify-self: center;
    }
    .right{
        height: 100%;
        h2{
            color: rgba(var(--text), 0.6);
        }
        h3{
            font-weight: 500;
            margin-bottom: 1rem;
        }
        & > h4{
            margin-bottom: 1rem;
        }
        & > h4:last-of-type{
            margin-top: 3rem;
        }
        h5{
            color: rgba(var(--text), 0.8);
            margin-bottom: 0.5erm;
            font-weight: 500;
        }
        .icon{
            padding: 0.4rem;
            height: 2rem;
            width: 2rem;
        }
    }
}
.icon{
    stroke: rgba(var(--text), 1);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    overflow: visible;
}
.file{
    padding: 0.6rem 1rem;
    display: grid;
    gap: 0.4rem 1rem;
    align-items: center;
    border: solid 1px;
    border-radius: 0.2rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'file .'
                            'file .';
    .icon{
        grid-area: file;
    }
    h4{
        overflow-wrap: break-word;
    }
}
.highlight{
    background: rgba(var(--text), 0.1);
}
#center_piece{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
        padding:0.8rem;
        border-radius: 2rem;
        border: solid 1px rgba(var(--text), 0.4);
        background: white;
        z-index: 2;
    }
    .line{
        position: absolute;
        width: 1px;
        height: 100%;
        background: rgba(var(--text), 0.4);
    }
}
#result_page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: flex-start;
    .left, .right{
        padding: 2vw 0;
    }
    .left{
        h3{
            margin-bottom: 2rem;
        }
        h4{
            font-weight: 400;
            margin-bottom: 1rem;
        }
        audio{
            margin-bottom: 2rem;
        }
    }
    .right{
        h4{
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
        h5{
            font-weight: 400;
            color: rgba(var(--text), 0.8);
            margin-bottom: 2rem;
        }
    }
}
.word-card{
    display: inline-flex;
    margin: 0 0.4rem 0.5rem 0;
    padding: 0.4rem 0.8rem;
    border: solid 1px rgba(var(--text), 0.4);
    &.censored{
        background: var(--primary-color);
        color: white;
        border: var(--primary-color) 1px solid;
    }
}

sm-audio{
    margin-bottom: 2rem;
    width: 24rem;
}
